<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav>
    <a href="/" <%- title === '' ? 'class="active"' : '' %>>HOME</a> | 
  <% if (user) { %>
    <a href="/leagues" <%- title === 'Find a League' ? 'class="active"' : '' %>>FIND A LEAGUE</a>
    <a href="" <%- title === '' ? 'class="active"' : '' %>></a>
    <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>