<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Risque&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a> <p>|</p> 
    <a href="/leagues" <%- title === 'Find a League' ? 'class="active"' : '' %>><%= user ? 'JOIN A LEAGUE' : 'BROWSE LEAGUES' %></a> <p>|</p> 
  <% if (user) { %>
    <a href="/discussions" <%- title === 'Discussion Board' ? 'class="active"' : '' %>>DISCUSSION BOARD</a>
    <a href="/logout" class="logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>