<%- include('../partials/header') %>

<div class="add-edit-form">
    <h2>Edit Your Team</h2>
    <form action="/leagues/<%= league._id %>/teams/<%= team._id %>?_method=PUT" method="POST">

        <span class="form-organizer">
            <label>Team Name:</label>
            <input type="text" name="name" id="team-input" value="<%= team.name %>">
        </span>

        <span class="form-organizer">
            <label>Wins:</label>
            <input type="number" name="wins" id="wins" value="<%= team.wins %>">
        </span>

        <span class="form-organizer">
            <label>Losses:</label>
            <input type="number" name="losses" id="losses" value="<%= team.losses %>">
        </span>

        <span class="form-organizer">
            <label>Practice Schedule:</label>
            <input type="datetime-local" name="practices" id="practices" value="<%= team.practices %>">
        </span>

        <button type="submit" id="update-team">Update Team Details</button>
    </form>
</div>

<%- include('../partials/footer') %>