<%- include('../partials/header') %>

<div>
    <div>
        <% discussions.map(function(d) { %>
            <h2><%= d.topic %></h2>
            <h4 class="discussion-user"><img src="<%= d.userAvatar %>" referrerpolicy="no-referrer"> <%= d.userName %></h4>
            <h4><%= d.createdAt.toLocaleDateString() %></h4>
            <section><%= d.content %></section>
        <% }); %>
    </div>

    <div>
        <a href="/discussions/new">Start New Discussion</a>
    </div>
</div>

<%- include('../partials/footer') %>