<%- include('../partials/header') %>

<div id="discussion-header">
    <h3 id="discussion-intro">If you're looking for help on your forehand, reccommendations for a new racket, 
        or just want to talk about Wimbledon, this is the place to talk all things tennis!</h3>
</div>

<div class="home-page">

    <% discussions.map(function(d) { %>
        <table>
            <thead>
                <tr>
                    <td><%= d.topic %></td>
                    <td><img src="<%= d.userAvatar %>" referrerpolicy="no-referrer"> <%= d.userName %></td>
                    <td><%= d.createdAt.toLocaleDateString() %></td>
                    <td><a href="/discussions/<%= d._id %>" class="team-options">View Thread</a></td>
                    <td>
                        <% if (user?._id.equals(d.user)) { %>
                        <a href="/discussions/<%= d._id %>/edit" class="team-options">Edit</a>
                        <form action="/discussions/<%= d._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                        <% } %>
                    </td>
                </tr>
            </thead>
        </table>
    <% }); %>

    <div>
        <a href="/discussions/new" class="add">Start New Discussion</a>
    </div>

</div>

<%- include('../partials/footer') %>