<%- include('../partials/header') %>

<div id="discussion-thread">
    <h2 id="thread-topic"><%= discussion.topic %></h2>
    <div id="thread-details">
        <h4 id="thread-author"><img src="<%= discussion.userAvatar %>" class="user-image" referrerpolicy="no-referrer"> <%= discussion.userName %></h4>
        <h4 id="thread-date"><%= discussion.createdAt.toLocaleDateString() %></h4>
    </div>
    <section><%= discussion.content %></section>
    <% if (user?._id.equals(discussion.user)) { %>
        <div id="thread-links">
            <a href="/discussions/<%= discussion._id %>/edit" class="team-options" id="edit-thread">Edit</a>
            <form action="/discussions/<%= discussion._id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete">X</button>
            </form>
        </div>
    <% } %>
</div>

<h4 id="comment-label">Comments</h4>
<% if (discussion.comments.length) { %>
    <div class="comment-thread">
        <% discussion.comments.forEach(function(c) { %>
            <div id="thread-details">
                <h4 id="thread-author"><img alt="avatar" src="<%= c.userAvatar %>" class="user-image" referrerpolicy="no-referrer"><%= c.userName %></h4>
                <h4 id="thread-date"><%= c.createdAt.toLocaleDateString() %></h4>
            </div>
                <section id="comment"><%= c.content %></section>
                    <div id="thread-links">
                        <a href="/discussions/<%= c._id %>/editComment" class="team-options" id="edit-thread">Edit Comment</a>
                        <form action="/discussions/<%= discussion._id %>/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="delete">X</button>
                        </form>
                    </div>
        <% }); %>
    </div>
<% } else { %>
    <h5>No Comments Yet</h5>
<% } %>
    
<div class="comment-thread">
    <span id="comment-form-organizer">
        <form action="/discussions/<%= discussion._id %>/comments" method="POST" id="">
            <label id="text-label">Have anything to say?</label>
            <textarea name="content" id="comment-form"></textarea>
            <button type="submit" id="add-comment-button">Add Comment</button>
        </form>
    </span>
</div>

<%- include('../partials/footer') %>